$color-primary: #c19875;
$color-primary-light: #dab9a1;
$color-primary-dark: #9f7452;

$color-secondary: #758ac1;
$color-secondary-light: #a0b1d6;

$neutral-bg: #f7f4f0;
$neutral-surface: #e8e2db;
$neutral-border: #d4c7bc;
$neutral-text: #4b3d33;
$neutral-white-warm: #fffaf5;

$success: #6da37c;
$warning: #e2b655;
$error: #c85a5a;
$info: #a4bcd6;
