.main-layout {
  display: grid;
  $side-space: 2rem;
  $box-margin-space: minmax(4rem, 1fr);
  $box-width: minmax(20rem, 65rem);

  grid-template-columns:
    [start-left-space]
    $side-space
    [end-left-space start-left-box-space start-navbar]
    $box-margin-space
    [start-content start-left-box]
    $box-width
    [start-center-space end-left-box]
    3rem
    [start-right-box end-center-space]
    $box-width
    [start-right-space end-content end-right-box]
    $box-margin-space
    [end-right-space end-navbar]
    $side-space
    [end-right-space];

  grid-template-rows:
    [start-top-space]
    3rem
    [start-navbar end-top-space]
    6rem
    [start-content-spacing end-navbar]
    3rem
    [start-content end-content-spacing]
    85vh
    [start-bottom-box end-content end-bottom-box]
    1fr
    [end-bottom-space];

  .navbar {
    grid-row: start-navbar / end-navbar;
    grid-column: start-navbar / end-navbar;
  }

  .box {
    grid-row: start-content / end-content;

    &--left {
      grid-column: start-left-box / end-left-box;
    }

    &--right {
      grid-column: start-right-box / end-right-box;
    }

    .btn {
      align-self: center;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}
